<!-- views/pages/admin/list_elections.ejs -->

<% let title = "Elections" %>
<% let id = "election" %>
<% global.admin_loggedin = true; %>

<%- include(globals.inc + globals.head) %>



<div id="content">
	<div class="blox">
		<div id="table-<%-page.id%>" class="blox-container blox-row">
			<div class="table">
				<div class="table-header">
					<span class="info">All Elections</span>
				</div>
				<div id="voter-choose-election" class="table-container choose-election voter border">
					<ul>
						<li class="table-col-header sep-bot"><ul class="table-row">
							<li class="table-sz-norm"><span>Name</span></li>
							<li class="table-sz-date"><span>Start date</span></li>
							<li class="table-sz-date"><span>End date</span></li>
							<li class="table-sz-small"><span>Region</span></li>
							<li class="table-sz-button"><span></span></li>
							<li class="table-sz-button"><span></span></li>
							<li class="table-sz-button"><span></span></li>
							<li class="table-sz-button"><span></span></li>
						</ul></li>
						<% for (const election of elections) { %>
						<li class="table-contents"><ul class="table-row">
							<li class="table-sz-norm table-row-header"><span><%= election.name %></span></li>
							<li class="table-sz-date"><span><%= election.start_date.toLocaleDateString('en-GB') %> 00:00</span></li>
							<li class="table-sz-date"><span><%= election.end_date.toLocaleDateString('en-GB') %> 00:00</span></li>
							<li class="table-sz-small"><span><% if (election.postcodes) { %>Local <!-- <%= election.postcodes.replace(/(^,)|(,$)/g, '')%> --> 
							<% } else { %>National<% } %></span></li>
							<li class="table-sz-button"><a class="btn btn-secondary" href="./<%- election.id %>/" role="button">View</a></li>
							<li class="table-sz-button"><a class="btn btn-secondary" href="./<%- election.id %>/edit/" role="button">Edit</a></li>
							<li class="table-sz-button"><a class="btn btn-danger" href="./<%- election.id %>/end/" role="button">End</a></li>
							<li class="table-sz-button"><a class="btn btn-danger" href="./<%- election.id %>/archive/" role="button">Archive</a></li>
						</ul></li>
						<% } %>
					</ul>	
				</div>
			</div>
		</div>
	</div>
</div>

<%- include(globals.inc + globals.footer) %>
