<!-- views/pages/admin/view_admin.ejs -->


<% let title = "New Admin" %>
<% let id = "new-admin" %>
<% global.admin_loggedin = true; %>

<%- include(globals.inc + globals.head) %>



<div id="content">
	<div class="blox">
		<div id="edit-<%-page.id%>" class="blox-container border">
            <% if (typeof lowerRanks !== 'undefined' && lowerRanks.length > 0) { %>
			<div class="blox-form blox-basic">
				<form id="form-<%-page.id%>" action="./" completed="../">
					<div id="form-messages" name="form-messages">
						<div id="form-feedback" class="alert hidden" role="alert"></div>
					</div>
					<div class="form-row">
						<div class="form-group">
							<div class="form-item">
								<label for="username">Username</label>
                                <input type="text" class="form-control" id="admin-username" placeholder="Username" name="username" required>
							</div>
						</div>
						<div class="form-group">
							<div class="form-item">
								<label for="region">Region</label>
								<% let regionPattern = '^' %>
                                <% let patternMismatchMessage = 'The region postcode must be at least 1 character!' %>
                                <% if (admin.region) { 
                                regionPattern += admin.region;
                                patternMismatchMessage = 'You can add admins only for postcode region ' + admin.region + 
                                '! Your input should be \\\'' + admin.region + '\\\' followed by the area-specific code.'
                                } %>
                                <% regionPattern += '.+$' %>
                                <input type="text" class="form-control" id="<%-page.id%>-region" placeholder="Postcode" name="region" 
                                    pattern="<%- regionPattern %>"
                                    onchange="this.setCustomValidity(this.validity.patternMismatch ? '<%= patternMismatchMessage %>' : '');"
                                    required>
							</div>
						</div>
						<div class="form-group">
							<div class="form-item">
								<label for="role">Role</label>
								<select class="form-control" id="admin-role" name="role">
                                <% for (const role of lowerRanks) { %>
                                    <% let roleString = role.replace('_', ' ') %>
                                    <option value="<%= role %>"><%= roleString.charAt(0).toUpperCase() + roleString.slice(1) %> admin</option>
                                <% } %>
                                </select>
							</div>
						</div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <div class="form-subgroup">
							    <div class="form-item">
								    <label for="password">Enter</label>
								    <input type="password" class="form-control" name="password" id="<%-page.id%>-password"
                                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{10,30}$" min="10" max="30"
                                        onchange="this.setCustomValidity(this.validity.patternMismatch ? 
                                        'Password must be minimum 10 characters and maximum 30, including one capitol, one lower case, one number and one symbol in:!@#$%^&*_=+-' : ''); 
                                        document.getElementById('password_two').pattern = '^' + this.value.replace(/[.*+?^${}()|[\]\\]/g, '\\$&') + '$';"
                                        placeholder="Password" required>
							    </div>
							    <div class="form-item">
								    <label for="password_confirm">Re-enter Password</label>
								    <input type="password" class="form-control" name="password_confirm" id="<%-page.id%>-password_confirm"
                                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{10,30}$"
                                        onchange="this.setCustomValidity(this.validity.patternMismatch ? 'This password does not match' : '');"
                                        placeholder="Verify Password" required>
							    </div>
                            </div>
						</div>
					</div>
					<div class="form-submit">
						<button id="submit-<%-page.id%>" type="submit" class="btn btn-secondary btn-confirm">Submit</button>
					</div>
				</form>
			</div>
            <% } else { %>
            <div id="alert-<%-page.id%>" class="blox-container">
                <div class="alert alert-danger">You don't have the privileges to add new admins!</div>
            </div>
            <% } %>
		</div>
		<div id="buttons-<%-page.id%>" class="blox-container">
			<div class="blox-item blox-row"><a class="btn btn-primary" href="../" role="button">Return to All</a></div>
		</div>
	</div>
</div>

<%- include(globals.inc + globals.footer) %>
