<h2 class="text-center"><%= election.name %></h2>
<div class="basic_table">
  <table><strong>Select one</strong>
    <tr>
      <th></th>
      <th>Image</th>
      <th>Candidate Name</th>
      <th>Party</th>
    </tr>
    <% for (const electionCandidate of election.electionCandidates) { %>
    <% let candidate = electionCandidate.candidate %>
    <% if (!candidate.picture_url) { candidate.picture_url = '/static/images/blank-profile-picture-960_720.png' }%>
    <tr>
      <td>
        <div class="form-check">
          <input class="form-check-input add-to-election-checkbox" name="choice" type="radio"
            value="<%= electionCandidate.id %>">
        </div>
      </td>
      <td><img src="<%- candidate.picture_url %>" alt="<%= candidate.name %>" width="50" height="100"></td>
      <td class="candidate-name"><%= candidate.name %></td>
      <% if (electionCandidate.currentParty) { %>
      <td class="candidate-party"><%= electionCandidate.currentParty.name %></td>
      <% } else { %>
      <td class="candidate-party">None/Independent</td>
      <% } %>
    </tr>
    <% } %>
    <tr>
      <td>
        <div class="form-check">
          <input class="form-check-input add-to-election-checkbox" name="choice" type="radio" value="" checked>
        </div>
      </td>
      <td class="candidate-name">None of the above/Protest vote</td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
<button id="submitBallotBtn" type="button" class="btn btn-secondary">
  Cast vote
</button>
<script>
  document.getElementById('submitBallotBtn').addEventListener('click', function() {
    var selected = document.querySelector('input[name=choice]:checked');
    var ballotSummary = 'Protest my vote.';
    var candidateId = null;
    if (selected && selected.value) {
      var candidateEntry = selected.parentNode.parentNode.parentNode;
      var candidateName = candidateEntry.getElementsByClassName('candidate-name')[0].innerText;
      var candidateParty = candidateEntry.getElementsByClassName('candidate-party')[0].innerText;
      ballotSummary = candidateName + ', Party: ' + candidateParty;
      candidateId = parseInt(selected.value);
    }

    document.getElementById('ballotSummary').innerText = ballotSummary;
    var ballot = {chosenElectionCandidateId: candidateId};
    submitBallot(ballot);
  })
</script>
