<!-- views/pages/parties.ejs -->

<% let title = "Parties" %>
<% let id = "parties" %>
<% global.admin_loggedin = true; %>

<%- include(globals.inc + globals.head) %>




<div id="content">
	<div class="blox">
		<div id="table-<%-page.id%>" class="blox-container blox-row">
			<div class="table">
				<div class="table-header">
					<span class="info">Parties</span>
				</div>
				<div id="voter-choose-election" class="table-container choose-party voter border">
					<ul>
						<li class="table-col-header table-section sep-bot"><ul class="table-row">
							<li class="table-sz-smthumb"><span>Image</span></li>
							<li class="table-sz-norm"><span>Name</span></li>
							<li class="table-sz-button"><span></span></li>
						</ul></li>
						<% for (const party of parties) { %>
						<li class="table-contents table-section"><ul class="table-row">
							<li class="table-sz-smthumb thumb img-sthumb-container cover"><img class="party-logo" src="<%= party.picture %>" /></li>
							<li class="table-sz-norm table-row-header"><span><%= party.name %></span></li>
							<li class="table-sz-button"><a class="btn btn-secondary" href="./<%- party.id %>/" role="button">View</a></li>
						</ul></li>
						<% } %>
					</ul>	
				</div>
			</div>
		</div>
	</div>
</div>




<%- include(globals.inc + globals.footer) %>


