<!-- views/pages/admin/view_election.ejs -->

<% let title = "Candidate" %>
<% let id = "candidate" %>
<% global.admin_loggedin = true; %>

<%- include(globals.inc + globals.head) %>



<div id="content">
	<div class="blox">
		<div id="view-<%-page.id%>" class="blox-container border">
			<div class="blox-item"><div class="blox-label"><span>Picture</span></div>
			<div class="blox-contents img-thumb-container cover canidate-portrate"><img class="canidate-portrate" src="<%= candidate.picture %>" /></div></div>

			<div class="blox-item"><div class="blox-label"><span>Name</span></div>
			<div class="blox-contents"><%= candidate.name %></div></div>

			<div class="blox-item"><div class="blox-label"><span>ID</span></div>
			<div class="blox-contents"><%= candidate.id %></div></div>

			<div class="blox-item"><div class="blox-label"><span>Party</span></div>
			<div class="blox-contents"><%= candidate.party.name %></div></div>
		</div>
		<div id="buttons-<%-page.id%>" class="blox-container">
			<div class="blox-item blox-row"><a class="btn btn-primary" href="../" role="button">Return</a></div>
			<div class="blox-item blox-row"><a class="btn btn-primary" href="./edit/" role="button">Edit</a></div>
			<div class="blox-item blox-row"><a class="btn btn-danger" href="./archive/" role="button">Archive</a></div>
		</div>
	</div>
</div>


<%- include(globals.inc + globals.footer) %>
